/*INICIO PARTE ALBERTO*/
.left{
    float: left;
}

.contentLista{
}

.headerLista{
    min-height: 3.2em;
}

.lblHeader{
    padding-top: 1em;
    text-align: center;
}

.listaClass{
    padding: 0;
}

.elementoLista{
    padding: 0 !important;
}

.infoContacto{
    color:black !important;
    font-weight: bold !important;
}

.letraContacto{
    
}

/*FIN PARTE ALBERTO*/


/*INICIO PARTE DANI*/




/*FIN PARTE DANI*/