/*INICIO PARTE ALBERTO*/
.contentLista{
    padding-left: 0;
    padding-right: 0;
}

.headerLista{
    min-height: 3.2em;
}

.lblHeader{
    padding-top: 1em;
    text-align: center;
}

.elementoLista{
    padding: 0 !important;
}



/*FIN PARTE ALBERTO*/


/*INICIO PARTE DANI*/




/*FIN PARTE DANI*/