/*INICIO PARTE ALBERTO*/
.left{
    float: left;
}

.contentLista{
}

.headerLista{
    min-height: 3.2em;
}

.lblHeader{
    padding-top: 1em;
    text-align: center;
}

.listaClass{
    padding: 0;
}

.elementoLista{
    padding: 0 !important;
}

.infoContacto{
    padding-left: 1em;
    color:black !important;
    font-weight: bold !important;
}

.letraContacto{

}

/*IMPORTANTE: Quito el margin de los input-text. Intentaré cambiarlo más adelante*/
.ui-input-text{
    margin-top: 0;
}

.icono{
    width: 13% !important;
}

.bloqueInput{
    width: 85% !important;
}

.inputIncorrecto{
    -webkit-box-shadow: 0 0 12px red !important;
    box-shadow: 0 0 12px red !important;
}

/*FIN PARTE ALBERTO*/


/*INICIO PARTE DANI*/




/*FIN PARTE DANI*/